name: Docker Image CI

on:
 push: 
   branches: [ main ]
 pull_request:
  branches: [ main ]
  
jobs:
 
 build:
   
   runs-on: ubuntu-latest
   
   steps:
   - uses: actions/checkout@v2
   - name: docker login
     env:
      DOCKER_USER: ${{secrets.DOCKERHUB_USERNAME}}
      DOCKER_PASSWORD: ${{secrets.DOCKERHUB_PASSWORD}}
     run: |
      docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
   - name: Build the image
     run: docker build . -file dockerfile --tag ${{secrets.DOCKER_REGISTRY}}/custom-nginx:latest
     
   - name: Docker push
     run: docker push ${{secrets.DOCKER_REGISTRY}}/${{secretS.DOCKERHUB_REPOSITORY}}
