name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Log into Docker Hub registry
      env:
        DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        
    - name: Build the image
      run: |
        docker build . -f dockerfile -t kunalsigmoid157/cnginx:v1
        docker push kunalsigmoid157/cnginx:v1
        
    - name: minikube deploy
      run: |
        minikube start
        kubectl apply -f deployment.yaml
        kubectl get deployment
        kubectl apply -f service.yaml
        minikube service nginx-service --url
